$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$quote: #3e5b6c;
$footer: #343434;
$highlight: #e2a25b;
$header: #2c4351;

@import 'sass-bootstrap/lib/bootstrap';

$font-header: 'Archivo Narrow';
$letter: -1.3px;

body, html {
    height: 100%;
}

/* Space out content a bit */
main {
    background: url(../images/comingsoon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 8px;
    background-image: url(../images/logo_thumb.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 46.5% 50%;
}

.footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    color: #fff;
    a {
        color: #fff;
    }
}

.hide-phone {
    display: none;
}

.hero-text h2, .hero-text h3, .clear {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    color: #666;
}

.btn, .btn:hover {
    font-family: 'Montserrat', serif;
    border-radius: 0;
    background: none;
    border: 2px solid #5cb85c;
    border-width: 2px!important;
    color: #5cb85c;
    margin-left: 5px;
    &:first-child {
        margin-left: 0;
    }
}

.btn:hover {
    border: 2px solid darken(#5cb85c,10%);
    color: darken(#5cb85c,10%);
}

.clear {
    margin-top: 8px;
}

@media screen and (max-width: $screen-phone) {
    .navbar-brand {
        display: inline-block!important;
    }
    .navbar-brand {
        float: none!important;
        width: auto!important;
    }
    .hide-phone {
        display: block;
    }
}

.text-muted-mlist {
    color: #444;
}

.error-msg {
    z-index: 9999;
    padding: 10px 15px;
    position: fixed;
    top: 150px;
    background: #e64c2e;
    &.success {
        background: #41a138;
    }
    color: #fff;
    right:0;
    box-shadow: -1px 1px 9px #bbb;
    display: none;
    .close {
        margin-left: 10px;
        float: none;
    }
}

.full-width {
    width: 100%;
}

.highlight {
    color: $highlight !important;
}

.navbar-brand, .nav-pills>li>a {
    color: #fff;
}

.nav-pills {

    &>li {
        margin-bottom: 0;
        margin-top: 6px;
        & a:hover {
            background: none;
        }
    }
}

.form-mlist {
    background-color: #e7e7e7;
    box-shadow: 1px 1px 4px #ccc;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 3px;
    .first {
        padding-left: 0;
    }
    input {
        margin-bottom: 0;
    }
    h4.struck {
        margin-bottom: -30px;
        span {
            background-color: #e7e7e7;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    hr {
        border-top: 1px solid #ccc;
    }
}

.center-button {
    margin: 0 auto!important;
}

.quote {
    background-color: $quote;
    color: #fff;
    font-style: italic;
    padding: 25px;
    text-align: center;
    span {
        font-size: 1.6em;
    }
    cite {
        font-size: 1em;
        font-style: normal;
    }
}

.hero {
    min-height: 525px;
    position: relative;
    overflow: hidden;
    .hero-text h1 {
        text-transform: uppercase;
        color: white;
        margin-top: 12%;
        margin-bottom: 15px;
        font-size: 6em;
        line-height: 1;
        text-shadow: 1px 1px 3px #aaa;
        font-family: $font-header;
        letter-spacing: $letter;
        font-style: italic;
        font-weight: bold;
    }
}

.selling-points {
    margin-bottom: 25px;
}

.selling-points, .feature-list, footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.label {
    vertical-align: middle;
}

h5 img {
margin: -2px 3px 0;
}

ul {
    padding-left: 20px;
    list-style-image: url(../images/disc.png);
    li {
        margin-bottom: 10px;
        font-size: 15px;
    }
}

ul.sell {
    padding-left: 20px;
    // list-style-image: url(../images/triangle.png);
    li {
        margin-bottom: 20px;
        font-size: 1.457em;
    }
}

.feature-list {
    .info {
        border-radius: 4px;
        box-shadow: 1px 1px 5px #999;
        margin-bottom: 14px;
        padding: 6px 9px;
        margin: 15px 0;
    }
    .feature-header {
        font-size: 32px;
        span {
            font-size: 16px;
        }
    }
}

.selling-points {
    padding-top: 25px;
    h2 {
        font-size: 4.24em;
        color: #333;
        font-family: 'Titillium Web' $font-family-sans-serif;
        font-weight: 200;
    }
    h4 {
        margin-bottom: 30px;
    }
}

// Fix for small button issue
.input-group-btn {
    .btn {
        padding: 6.5px 12px!important;
    }
}

.pull-up {
    margin-top: 20px;
}

#contact {
    & > div > div {
        border-right: 1px solid rgba(255,255,255,0.2);
        height: 160px;
        &:last-child {
            border:none;
        }
    }
}

/* Custom page header */
.header {
    background-color: $header;
    border-bottom: 1px solid #343434;
    padding: 0 15px;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        color: #fff;
        font-size: 1.75em;
    }
}

footer {
    background-color: $footer;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
}
.fancy {
    font-family: 'Montserrat';
    font-weight: bold;
    vertical-align: middle;
    line-height: 32px;
}
.hide-phone-down {
}
.show-phone-up {
    display: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: $screen-md) {

    #contact {
        & > div > div {
            border:none;
        }
    }

    .text-center-sm {
        text-align: center;
    }
    .pull-right-sm {
        float: right;
    }
    .hero .hero-text h1 {
        font-size: 5em;
    }
    img.text-center-sm {
        margin-left: auto;
        margin-right: auto;
    }
    h1 , h2, h3, h4, h5 {
        text-align: center;
    }
    .hero .hero-text h1 {
        font-size: 4em;
    }
    .hide-phone-down {
        display: none;
    }
    #hero-img {
        top:0;
    }
    .show-phone-up {
        display: block;
    }
}

@media screen and (max-width: $screen-phone) {
    .hero .hero-text .logo {
        font-size: 3em;
        margin-top: 16%;
    }
    #hero-img {
        width: auto;
        top:0;
    }
    .navbar-brand {
        width: 100%;
        text-align: center;
    }
}
